#home_content {
    padding: 20px;
  
    #kbo_intro {
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      margin-bottom: 20px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
      }
  
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
      }
    }
  
    #teams {
      margin-bottom: 20px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
      }
  
      .team-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        a {
            width: 432px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
      }
  
      .team {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        background-color: #fff;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        &:hover {
          transform: translateY(-5px);
        }
  
        img {
          max-width: 100px;
          margin-bottom: 10px;
        }
  
        h3 {
          font-size: 18px;
          color: #333;
        }
      }
    }
  
    #latest_results {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 8px;
  
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
      }
  
      .results-container {
        .result {
          padding: 10px;
          border-bottom: 1px solid #ddd;
          color: #333;
  
          &:last-child {
            border-bottom: none;
          }
  
          strong {
            font-weight: bold;
            color: #333;
          }
  
          span {
            color: #555;
          }
        }
      }
    }
  }
  