// 비디오 페이지
.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(3, 32%);
        gap: 15px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 49%);
        gap: 10px;
    }

    @media (max-width: 400px) {
        grid-template-columns: repeat(1, 100%);
    }

    .video {
        border:1px solid #222;
        border-radius: 10px;
        overflow: hidden;
        .video__thumb {
            a {
                display: block;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center center;
            }
        }

        .video__info {
            padding: 1rem;
            margin: 0px;
            .title {
                @include line-two;
                min-height: 48px;

                @media (max-width: 800px) {
                    min-height: 40px;
                }
            }

            .author {
                a {
                    background-color: #fff;
                    border-radius: 20px;
                    color: #222;
                    font-size: 12px;
                    padding: 1px 10px;
                    text-transform: uppercase;
                    margin-top: 10px;
                    display: inline-block;
                }

            }
        }
    }
}

// 메인 페이지 비디오 슬라이드
.video__slider {
    .video {
        .video__thumb {
            margin-bottom: 5px;
        }

        .video__text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

#videoViewPage {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 360px;
}

.video_play {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
    .video_comment {
        position: fixed;
        top: 80px;
        right: 40px;
        height: calc(100% - 240px);
        overflow: hidden auto;
        width: 300px;
        padding-top: 60px;
        h3 {
            background-color: var(--white);
            color: var(--black);
            padding: 1px 1px;
            border-radius: 40px;
            text-align: center;
            margin-bottom: 0.5rem;
            font-size: 1rem;
        }

        li {
            margin-bottom: 15px;
            border-bottom: 1px dashed var(--white300);
            padding-bottom: 10px;
        }
    }
}

.video__info {
    margin-top: 10px;
    .title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .channel {
        display: flex;
        justify-content: space-between;
        background-color: #0043fd;
        padding: 1rem 2rem;
        border-radius: 40px;
        margin-bottom: 1rem;
        color: #fff;

        span {
            margin-left: 10px;

            svg {
                width: 20px;
                height: 20px;
                vertical-align: -5px;
                margin-right: 5px;
            }
        }

        .channelTitle {
            font-size: 1rem;
            font-weight: bold;
        }
    }
}

.video__desc {
    white-space: pre-line;
    line-height: 1.8;
}
@media (max-width: 960px) {
    #videoViewPage {
        padding-right: 40px;
    }
    .video_play {
        .video_comment {
            padding: 10px 30px;
            right: -300px;
            height: calc(100% - 70px);
            background-color: #fff;
            transition: all 0.3s ease;
            &.active {
                right: 0px;
            }
        }
    }
}