body {
    background-color: var(--white);
    color: var(--black);
    font-family: var(--fontK);
}
.play__icon {
    a {
        position: relative;
        display: block;
        cursor: pointer;
        width: 100%;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #00000000;
            position: absolute;
            top: 0px;
            left: 0px;
            transition: all 0.3s ease;
        }
        &:hover::before {
            background-color: #0000004d;
        }
        &::after {
            content: '';
            width: 80px;
            height: 80px;
            background: #000 url('../../img/icon/play.svg') no-repeat center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 100%;
            transition: all 0.3s ease;
            opacity: 0;
        }
        &:hover::after {
            opacity: 1;
        }
    }
}

#searchPage {
    padding: 2rem;
    h2 {
        margin-bottom: 0.8rem;
        font-size: 1.25rem;
        position: relative;
        z-index: 10;
        em {
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 10px;
                background-color: #ff0000;
                position: absolute;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                border-radius: 10px;
            }
        }
    }
}
.fade-in {
    animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}